<div *ngIf="notes.length > 0">
    <h3>My Notes</h3>
    <div class="panel panel-success">
        <div class="panel-heading">My Notes</div>
        <div class="panel-body">

            <div *ngFor="let n of notes">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>Subject: <span class="subject">{{n.subject}}</span></h4>
                        <p>
                            <button class="btn btn-primary" role="button" (click)="gotoDetail(n)">View Details</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="notes.length <= 0">
    <h3 class="text-center">You have no notes!</h3>
</div>