<nav class="navbar navbar-default navbar-fixed-top navbar-custom-1 affix-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
      <a class="navbar-brand" routerLink="/">Notes Manager</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
        <li *ngIf="!showNavBar">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!showNavBar">
          <a routerLink="/register">Register</a>
        </li>
        <li *ngIf="showNavBar">
          <a routerLink="/user">My Notes</a>
        </li>
        <li *ngIf="showNavBar">
          <a (click) = "logout()">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>