<div class="container">
  <div class="row">
    <div class="col-xs-12 note">
      <h4 class="text-center">Note Details</h4>
      <div *ngIf="note">
        <form #noteForm="ngForm" class="well">
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" class="form-control" required placeholder="Note Subject" [(ngModel)]="note.subject"
              disabled />
          </div>
          <div class="form-group">
            <label for="body">Description</label>
            <textarea id="body" name="body" class="form-control vert" required placeholder="Description of your note." [(ngModel)]="note.body" maxlength="150"></textarea>
          </div>
          <div class="form-group">
            <label for="version">Version Number</label>
            <input type="text" id="version" name="version" class="form-control" required [(ngModel)]="note.version" disabled/>
          </div>
          <button class="btn btn-lg btn-success" [disabled]="!noteForm.form.valid" (click)="editNote(note)">Edit</button>
          <button class="btn btn-lg btn-danger" [disabled]="!noteForm.form.valid" (click)="delete(note)">Delete</button>
          <button class="btn btn-lg btn-warning" (click)="goBack()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>